<div class="custom-background">
    <div class="background">
        <img class="flower flower1" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
        <img class="flower flower2" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
        <img class="flower flower3" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
        <img class="flower flower4" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
        <img class="flower flower5" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
        <img class="flower flower6" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
        <img class="flower flower7" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
        <img class="flower flower8" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
        <img class="flower flower9" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
        <img class="flower flower10" src="{{ "images/Group54.svg" | relURL }}" alt="Mon SVG">
    </div>
</div>

<style>

    body{
        background-color: #cebc4a;
    }

    .content{
        background-color: #cebc4a;
        padding: 3rem;
    }


    .flower {
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: -1;
        width: 17rem;

    }

    .flower2 {
    left: 53px;
    top: 306px;
    transform: rotate(5deg);
}

.flower3 {
    left: 53px;
    top: 412px;
    transform: rotate(5deg);
}

.flower4 {
    left: 53px;
    top: 520px;
    transform: rotate(5deg);
}

.flower5 {
    left: 30px;
    top: 720px;
    transform: rotate(5deg);
}

.flower6 {
    right: 20px;
    top: 407px;
    transform: rotate(5deg);
}

.flower7 {
    right: 53px;
    top: 515px;
    transform: rotate(5deg);
}

.flower8 {
    right: 23px;
    top: 350px;
    transform: rotate(5deg);
}

.flower9 {
    right: 13px;
    top: 60px;
    transform: rotate(5deg);
}

.flower10 {
    right: 13px;
    top: 30px;
    transform: rotate(5deg);
}





</style>