<div class="background">
    <img class="flower" src="{{ "images/background.svg" | relURL }}" alt="background à fleur">
</div>

<style>
    body {
        background-color: #cebc4a;
    }

    .content {
        background-color: #cebc4a;
        padding: 3rem;
        margin-top: 4rem;
        border: 3px dashed #232333;
    }

    .background {
        position: fixed;
        z-index: -1;
        top: -10px;
        /* positionner l'élément en haut à gauche de la fenêtre de navigation */
        left: -10px;
        width: 100%;
    height: 100%;
    }

    .flower {
/*         width: 110vw;
        height: 110vh; */
        /* largeur égale à la largeur de la fenêtre de navigation */
        object-fit: cover;
        width: 100%;
        height: 100%; 
    }
</style>